<header>
  <h1>Members only</h1>
  <div>
    <% if(user) { %>
    <span>User is <%= user.username %> | </span>
    <% if(user?.isadmin) {%>
    <span>admin |</span>
    <% } %>
    <a class="btn danger" href="/logout">Logout</a>
    <% } else {%>
    <a class="btn" href="/register">Register</a>
    <span> | </span>
    <a class="btn" href="/login">Login</a>
    <% } %>
  </div>
</header>
