<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <h1>Login</h1>
    </header>
    <% if(err) { %>
    <p><%= err %></p>
    <% } %>
    <form action="/login" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button class="btn" type="submit">Submit</button>
    </form>
  </body>
</html>
